<!--
  Cart presentation:
  - Update cart params
  - cart estimation
  - cart articulation
  - rviz view (optional)
 -->
<launch>

  <arg name="develop" default="true"/>
  <!--  ****** Cart params *****  -->
  <!-- <param name="cart_description" command="$(find xacro)/xacro '$(find cob_pushing)/robots/cart/cart.urdf.xarco'" /> -->
  <rosparam file="$(find cob_pushing)/robots/cart/own_cart.urdf" command="load" ns="cart_description"/>

  <!--  ****** Cart estimation *****  -->
  <!-- <node pkg="cob_pushing" type="fake_cart_joint_state_publisher.py" name="fake_cart_joint_state_publisher" args="" output="screen" /> -->

  <node pkg="robot_state_publisher" type="state_publisher" name="rob_st_pub" >
    <remap from="robot_description" to="cart_description" />
    <remap from="joint_states" to="cart_joint_states" />
  </node>

  <!--  ****** Cart articulation *****  -->
  <!-- PUT SOME CODE HERE -->

  <!--  **************** Visualisation ****************  -->
  <group if="$(arg develop)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cob_pushing)/rviz/test_cart_urdf.rviz"/>
  </group>

</launch>
