<!--
  Turtlebot navigation simulation:
  - stage
  - map_server
  - move_base
  - static map
  - amcl
  - rviz view
 -->
<launch>

  <!-- Name of the map to use (without path nor extension) and initial position -->
  <arg name="world_file" default="$(find cob_pushing)/map/stage/tuas.world"/>
  <arg name="map_file" default="$(find cob_pushing)/map/stage/map.yaml"/>
  <arg name="initial_pose_x" default="30.55"/>
  <arg name="initial_pose_y" default="21.87"/>
  <arg name="initial_pose_a" default="0.0"/>

  <param name="/use_sim_time" value="true"/>
  <!--  ******************** Stage ********************  -->
  <!--
        Publishes transforms:
          /base_link -> /base_laser
          /base_footprint -> /base_link (identity)
          /odom -> base_footprint
        Publishes topics:
          /odom : odometry data from the simulated odometry
          /base_scan : laser data from the simulated laser
          /base_pose_ground_truth : the ground truth pose
        Parameters:
          base_watchdog_timeout : time (s) after receiving the last command on cmd_vel before stopping the robot
        Args:
          -g : run in headless mode.
  -->
  <node pkg="stage_ros" type="stageros" name="stageros" args="$(arg world_file)">
    <param name="base_watchdog_timeout" value="0.5"/>
    <remap from="odom" to="odom"/>
    <remap from="base_pose_ground_truth" to="base_pose_ground_truth"/>
    <remap from="base_scan" to="scan"/>
  </node>

  <!--  ***************** COB Robot Model *****************  -->

  <!-- define arguments -->
  <arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
  <arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)"/>
  <arg name="paused" default="false"/>
  <arg name="initial_config" default=""/>

  <!-- upload default configuration parameters -->
  <include file="$(find cob_bringup)/robots/$(arg robot).xml" >
    <arg name="sim" value="true" />
  </include>

  <!--  ****** Maps *****  -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map"/>
  </node>

  <!--- Run AMCL -->
  <include file="$(find cob_pushing)/launch/amcl_node.xml" >
    <arg name="use_map_topic" value="true"/>
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <!--- Run move base -->
  <include file="$(find cob_pushing)/launch/move_base.xml" >
    <arg name="robot" value="$(arg robot)"/>
  </include>

  <!--  **************** Visualisation ****************  -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cob_pushing)/rviz/cob_rviz.rviz"/>
</launch>
